#f1_background_width{
    width: 95%;
}

.Name{
    position: absolute;
    margin-top:3%;
    left:5%;
    color:white;
    font-size:40pt;
}

.f1_buttons{
    border-radius: 12px;
    background-color:powderblue;
    width: 200%;
    height: 10%;
    border-color: none;
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-weight: bold;
    margin-top: 3%;
    position: relative;
    z-index: 0;
}
#f1_button_pos{
    position: absolute;
    top: 20%;
    left: 17%;
}
            