
#Name {
    position: absolute;
    top: 3%;
    left: 5%;
    color: white;
    font-size: 40pt;
}

#Teacher_List_Pos{
    position: absolute;
    top: 23%;
    right: 26%;
    z-index: 1;
    width: 48%;
    height: 60%;
    overflow-x:hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 18px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(192,192,192,0.8);
    border-radius: 18px;
}
.f3_department_name{
    text-align: center;
    color: brown;
    font-size: larger;
    height: 30%;
}
.f3_department_info{
    vertical-align: top;
    text-align: center;
}
.Teacher_Name_Card{
    position: relative;
    float: left;
    max-width: 22%;
    max-height: 3%;
    border-radius: 12px;
    margin-top: 3%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5vmin;
}
.Teacher_photo{
    width: 80%;
    height: 45%;
    z-index: 2;
}

#Teacher_cancel{
    position: absolute;
    top: 5%;
    right: 23.5%;
    z-index: 2;
    width: 1%;
    height: auto;
}

#Department_Intro{
    table-layout: fixed;
    word-break: break-all;
    background-color: rgba(176, 230, 218, 0.7);
    width: 40%;
    height: 15%;
    border-radius: 12px;
    position: absolute;
    top: 6%;
    right: 30%;
    z-index: 2;
    color: black;
    font-size: 120%;
}

#New_screen_for_department{
    background-color: rgb(250, 250, 250, 0.8);
    width: 55%;
    height: 90%;
    border-radius: 12px;
    position: absolute;
    top: 3%;
    right: 22.5%;
    z-index: 1;
}