#info_background_width{
    width: 105%;
    margin: 0;
}

.Name{
    position: absolute;
    margin-top:3%;
    left:5%;
    color:white;
    font-size:40pt;
}
.info_table_position{
    position: absolute;
    top: 25%;
    left: 2%;
}
.info_screen{
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info_paragraph{
    font-size: 25px;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    margin-top: 10px;
}

.info_bold{
    font-weight: bold;
    font-size: 110%;
    text-align: left;
}
.row{
    margin: 0;
    padding: 0px;

}
.info_p{
    /*border-right: 1px solid #b5b5b5;*/
    color: white;
    margin-top: 20px;
    font-size: 16px;
    padding: 0px;
}
.team_info{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    color: white;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 16px;
}

