.chan {
    font-size: 420%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    top:18%;
    left:33%;

}

.chan_2 {
    font-size: 170%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    top:15%;
    left:33%;
}


#main_logo {
    position: absolute;
    left: 19%;
    top: 12%;
    width: 11%;
    height: auto;
}

#main_language_block {
    position: absolute;
    bottom: 2%;
    text-align: right;
}

#main_contact {
    position: absolute;
    bottom: 0.5%;
    color: white;
}

.main_buttons {
    width: 93%;
    height: 98%;
    border-radius: 12px;
    border: none;
    font-size: 150%;
    font-weight: bold;
    padding: 1.5% 1.5%;
}
.main_buttons_location{
    position: absolute;
    top:35%;
    left:4.5%;
}

.main_text_in{
    margin-left: 4%;
}
.main_icons {
    margin-left: 8%;
}

.main_lang_icon {
    width: 8%;
    height: 8%;
}
.main_rr{
    list-style: none;
}