.chan {
    text-align: center;
    margin-left: 12%;
    font-size: 420%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.chan_2 {
    margin-left: 10%;
    text-align: center;
    font-size: 170%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#main_logo {
    position: absolute;
    left: 19%;
    top: 12%;
    width: 11%;
    height: auto;
}

#main_language_block {
    position: absolute;
    bottom: 2%;
    text-align: right;
}

#main_contact {
    position: absolute;
    bottom: 0.5%;
    color: white;
}

.main_buttons {
    margin-left: 4%;
    width: 93%;
    height: 98%;
    border-radius: 12px;
    border: none;
    font-size: 150%;
    font-weight: bold;
    padding: 2.5% 2.5%
}

.main_text_in{
    margin-left: 4%;
}
.main_icons {
    margin-left: 8%;
}

.main_lang_icon {
    width: 8%;
    height: 8%;
}
.main_rr{
    list-style: none;
}