.dropbtn {
    background-color: #131f4e;
    color: white;
    padding: 12px;
    /*position: relative;*/
    font-size: 16px;
    border: none;
    /*cursor: pointer;*/
    width: 80%;
    margin-left: 20%;
    /*margin-right: 10%;*/

}
.col-sm-3{
    margin-left: 0%;
}
.col-sm-9{
    margin-right: -3%;
}
.dropdown {
    position: relative;
    display: block;
}

.dropdown-fal {
    display: none;
    position: relative;
}
.dropdown-fal-block {
    width: 80%;
    margin-left: 20%;
    /*margin-right: 10%;*/
    display: block;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-fal-block  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-fal-block  a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/************************************/
.dropdown-grade {
    display: none;
    position: relative;
}

.dropdown-grade-block {
    width: 80%;
    margin-left: 20%;
    /*margin-right: 10%;*/
    display: block;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-grade-block  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-grade-block  a:hover {background-color: #f1f1f1}

/************************************/
.dropdown-group {
    display: none;
    position: relative;
}

.dropdown-group-block {
    /*width: 0%;*/
    margin-left: 20%;
    /*margin-right: 10%;*/
    display: block;
    position: relative;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-group-block  a {
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-group-block  a:hover {background-color: #f1f1f1}
/*************************************************************************************************************/
.Aleft{
    color: #f1f1f1;
    float: left;
    width: 50%;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    position: static;
    background-color: #f9b20e;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Bleft{
    color:  #f1f1f1;
    float: right;
    width: 50%;
    /*display: block;*/
    /*margin-left: 20%;*/
    /*margin-right: 10%;*/
    /*display: block;*/
    position: relative;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Aleft  a {
    color: #28ff26;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Bleft  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}









.Name {
    position: relative;

    left: 5%;
    color: white;
    font-size: 40pt;
}

#Select {
    width: 80%;
    height: 10%;
}

#Field {
    width: 12%;
    height: 37%;
    position: absolute;
    right: 2.3%;
    top: 40%;
}

#Time {
    text-align: center;
}

.schedule_table {
    table-layout: fixed;
    word-break: break-all;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}

.schedule_td {
    width: 50px;
    height: 65px;
}

.navbar {
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
}

.navbar .navbar-collapse {

    margin-left: 38%;
    margin-top: 45%;
    margin-right: 36%;

}

.button_deco {
    width: 100%;
    height: 80%;
    border-radius: 12px;
}

.button_text {
    color: black;
    font-weight: bold;
    font-family: 'Arial';
    text-align: middle;
    border-radius: 10px;
}