
.header{
    height:180px;
    display:block
    }
    #kstu_front
    {
        position: absolute;
        top:19%;
        left:10%;
        width:22%;
        height:25%;

    }
                #Name{
                    position: absolute;
                    margin-top:3%;
                    left:5%;
                    color:white;
                    font-size:40pt;
                    }
                #Table{
                position:absolute;
                left:0%;
                top:48%;
                color:white;
                font-size: 20px;
                }
                #General{
                position: absolute;
                top:21%;
                left:45%;   
                text-align: left;
                color:white;
                font-size: 110%;
                float:right;
                width: 50%;
    
                }
                #his_style{
                    float: left;
                    width: 30%;
                }